* {
    margin: 0%;
}

.iframe {
    width: 80vw;
    height: 50vh;
    border: solid beige 2px;
    margin-left: 50%;
    transform: translateX(-50%);
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message_container {
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.message {
    width: 75vw;
    height: 2rem;
    border: none;
    border-bottom: solid black 1px;
    background-color: rgb(185, 185, 185);
    color: black;
    /* opacity: 0.4; */
}

.button_submit {
    width: 4vw;
}